<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/estilos/livros.css">
    <title>Obras</title>
    <style></style>
</head>
<body>
    <header>
        <h3>Listagem das Obras</h3>
    </header>

    <div>
        <fieldset>
            <legend>Registro de Obras</legend>
            <table>
                <div class="Ajuste">
                    <tr>Código_Obra</tr>
                    <tr>Cidade_Obra</tr>
                    <tr>Tipo_Obra</tr>
                    <tr>Valor_Obra</tr>
                    <tr>Data_Obra</tr>
                    <tr>Engenheiro</tr>
                    <tr>Crea_Engenheiro</tr>
                    <tr>Data_Crea_Engenheiro</tr>
                </div>

                <% for(let i=0; i<obj_obra.length; i++) { %>
                    <tr>
                        <td><%=obj_obra[i].obr_codigo%></td>
                        <td><%=obj_obra[i].obr_cidade%></td>
                        <td><%=obj_obra[i].obr_tipoobra%></td>
                        <td><%=obj_obra[i].obr_valor%></td>
                        <td><%=obj_obra[i].obr_dtinicio%></td>
                        <td><%=obj_obra[i].eng_nome%></td>
                        <td><%=obj_obra[i].eng_crea%></td>
                        <td><%=obj_obra[i].eng_datacrea%></td>
                    </tr>
                <%} %>
            </table>
        </fieldset>
    </div>
    
</body>
</html>