<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/estilos/livros.css">
    <title>Engenheiros</title>
    <style></style>
</head>
<body>
    <header>
        <h3>Listagem de Engenheiros</h3>
    </header>

    <div>
        <fieldset>
            <legend>Registro de Engenheiros</legend>
            <table>
                <tr>Código</tr>
                <tr>Engenheiro</tr>
                <tr>Apelido</tr>
                <tr>Código_Obra</tr>
                <tr>Tipo_Da_Obra</tr>
                <tr>Cidade_Obra</tr>
                <tr>Valor_Obra</tr>

                <% for(let i=0; i<obj_engenheiro.length; i++) { %>
                    <tr>
                        <td><%=obj_engenheiro[i].eng_codigo%></td>
                        <td><%=obj_engenheiro[i].eng_nome%></td>
                        <td><%=obj_engenheiro[i].eng_apelido%></td>
                        <td><%=obj_engenheiro[i].obr_codigo%></td>
                        <td><%=obj_engenheiro[i].obr_tipoobra%></td>
                        <td><%=obj_engenheiro[i].obr_cidade%></td>

                        
                        <td><%=obj_engenheiro[i].obr_valor%></td>
                    </tr>
                <%} %>
            </table>
        </fieldset>
    </div>
</body>
</html>